@font-face{font-display:fallback;font-family:Inter;font-style:normal;font-weight:400;src:url(https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.3) format("woff2")}
@font-face{font-display:fallback;font-family:Inter;font-style:italic;font-weight:400;src:url(https://rsms.me/inter/font-files/Inter-Italic.woff2?v=3.3) format("woff2")}
@font-face{font-display:fallback;font-family:Inter;font-style:normal;font-weight:600;src:url(https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.3) format("woff2")}
@font-face{font-display:fallback;font-family:Inter;font-style:normal;font-weight:700;src:url(https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.3) format("woff2")}
::selection{background:#c9ecff}
*{box-sizing:border-box;margin:0;padding:0}
html,body{font-family:Inter,sans-serif;line-height:1.4;text-rendering:optimizeLegibility}
body{display:flex;min-height:100vh;flex-direction:column;background:#fff;color:#3a343a;font-size:18px}
a{color:inherit;text-decoration:none;outline:none}
p a{border-bottom:1px solid #4c566a}
p{margin:1.4rem 0}
h1{font-size:230%;line-height:1.2}
blockquote{margin:1.4rem 0 1.4rem -1.4rem;padding-left:1.4rem;border-left:2px solid #2e3440;font-style:italic}
.page-main{width:100%;max-width:680px;margin:0 auto;padding:1em;flex:1}
.article-meta{display:flex;flex-wrap:wrap;justify-content:space-between;border-top:1px solid #4c566a;border-bottom:1px solid #4c566a;font-size:80%;font-weight:700;font-variant:small-caps;text-transform:lowercase}
.article-meta>span,.article-meta a{padding:.5em 0}
.article-title{width:100%;margin:2.8rem 0;text-align:center}
.article-content h2,.article-content h3{line-height:1.2;margin-bottom:-1rem}
.article-content h2{margin-top:2em;font-size:1.4rem}
.article-content h3{margin-top:2rem;font-size:1.2rem}
.toc{position:sticky;z-index:10;top:2em;height:0;font-size:70%}
.toc>ul{display:inline-block;width:calc((100vw - 680px)/2 - 4em);padding-left:0;list-style:none;transform:translateX(calc(-100% - 2em)) translateY(4em)}
.toc>ul::before{content:"Table of contents";display:inline-block;padding-bottom:.5em;font-weight:700}
.toc li{margin-bottom:.3em;list-style:none}
.toc a:hover{font-weight:700}
.article-nav{margin:2em 0}
.article-nav ul{display:flex;flex-wrap:wrap;justify-content:space-between;width:100%;padding:0}
.article-nav li{margin:0;padding:0;list-style:none;flex:1}
.article-nav a{display:inline-block;padding:.5em 0}
.article-nav .next{padding-left:1em;text-align:right}
.article-bio{display:flex;align-items:center;padding:1em;border-top:1px solid #4c566a;border-bottom:1px solid #4c566a;font-size:80%}
.article-bio img{width:60px;height:60px;flex-shrink:0;border-radius:50%;object-fit:cover}
.article-bio div{padding-left:1em}
.comments{margin-top:3rem;padding-top:2rem;border-top:1px solid #4c566a}
footer{width:100%;max-width:648px;margin:0 auto;padding:1em;color:#d8dee9;text-align:center;font-size:80%}
@media(max-width:1080px){.toc{display:none}}
