---
layout: default
---

<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>

  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    <div class="tags-item" id="{{ tag[0] | slugify }}">
      <h2 class="tags-item-label">{{ tag[0] }}</h2>
      {% for post in tag[1] %}
        <a class="tags-post" href="{{ post.url }}">
          <div>
            <span class="tags-post-title">{{ post.title }}</span>
            <small class="tags-post-meta">{{ post.date | date: "%B %-d, %Y" }}</small>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
